
.modal-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}
.modal-container .modal-content {
  width: 50%;
  height: 40%;
  margin: 100px auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}